{% extends 'sanvalentin_app/profesor_list.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <p>&nbsp;</p>
        <div class="bs-component col-md-8">
            <form class="form-horizontal" method='post' enctype='multipart/form-data' action='{% url 'change-pass' usuario.id %}' role="form">
                {%csrf_token%}
                <fieldset>
                    <legend>Cambiar contraseña de {{ usuario.profesor.nombre }} </legend>
                    <div class="tab-content">
                        <div class="tab-pane active" id="datospersonales">
                            {%  crispy form_pass %}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary col-md-offset-3"><span class="glyphicon glyphicon-floppy-disk"></span>Guardar</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock %}