{% extends 'sanvalentin_app/base.html' %}

{% block content %}
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-md-10">
                <div class="col-md-9 col-md-offset-1 ">
                    <blockquote><p class="lead"><h1>Registro Interno Educacional</h1><h2>Sistema de administración de notas.</br> Colegio San Valentín</h2></p></blockquote>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-7">
            </div>
        </div>
    </div>
{% endblock %}