{% load staticfiles %}

<!Doctype html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        {% block title_page %}
        {% endblock %}
    </title>

    <!-- css imports -->
    {% include 'registro/base/partials/css_imports.html' %}

</head>
<body {% block class-lock %}{% endblock %}>
<header id="header" class="clearfix" data-ma-theme="blue">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        {% include 'registro/base/partials/header.html' %}
    </nav>
</header>

<section id="wrapper">
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</section>

<footer id="footer">
    {% include 'registro/base/partials/footer.html' %}
</footer>

<!-- js imports -->
{% include 'registro/base/partials/js_imports.html' %}

</body>
</html>
