{% load staticfiles %}
<!-- Javascript Libraries -->
<script src="{% static 'registro/vendor/jquery/jquery.js' %}"></script>
<script src="{% static 'registro/vendor/bootstrap/js/bootstrap.js' %}"></script>
<script src="{% static 'registro/vendor/datatables-responsive/dataTables.responsive.js' %}"></script>
<script src="{% static 'registro/vendor/metisMenu/metisMenu.js' %}"></script>
<script src="{% static 'registro/vendor/raphael/raphael.js' %}"></script>
<script src="{% static 'registro/vendor/morrisjs/morris.js' %}"></script>

<!-- JavaScript -->
<script src="{% static 'registro/js/gulpfile.js' %}"></script>
<script src="{% static 'registro/js/sb-admin-2.js' %}"></script>